.app {
    padding: 30px;
    height: 100vh;
  }
  
  .todo-list {
    /* background: #e8e8e8; */
    background: #797A7E;
    border-radius: 4px;
    margin: Auto;
    width: 60%;
    padding: 5px;
    /* max-width: 400px; */
  }
  
  .todo {
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 3px 10px;
    font-size: 1 rem;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  div.btn-group {
    margin: 0 auto;
    padding: 10px;
    text-align: center; 
    width: inherit;
    display: inline-block
  }

  .input {
    width: 60%;
  }
